/*typography*/

/*General Styles*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3f3f3;
}

/*header*/

.header {
    display: flex;
    background-color: #ffffff;
}
.menu{
    width: 5%;
}
.logo {
    width: 15%;    
}
.youtube-logo{
    max-width: 90%;
}

.profile{
    width: 20%;
    text-align: right;
}

.search{
    width: 60%;
    margin: 0 80px;
    text-align: center;
}
.search-input{
    width: 80%;
    padding: 8px 10px;
    border: 1px solid #afaeae;
    border-radius: 5px;
}

.header{
    justify-content: space-between;
    padding: 20px 10px;
}

.profile-img img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.profile figure {
    display: inline-block;
    padding: 0 8px;
}

.profile figure .iconify{
    font-size: 30px;
    color: #7b7575;
    margin-bottom: 7.5px;
}



/*video Section*/

/*Recommended Video*/

/*footer*/



